body,html {
    font-family: 'Lora', serif !important;
}
a {
    text-decoration: none !important;
}

/* Rectangle 7 */
.svg-base-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1000;
}

.svg-base-right {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1000;
}
